@charset "utf-8";
/*默认样式及公共样式*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{padding:0;margin:0;}
img{border:0;}
table{border-collapse:collapse;border-spacing:0}

/* ad_position */
.ad_position{width:665px;height:169px;position:relative;overflow:hidden;background:url(../images/ad_shadow.jpg) no-repeat;margin:40px auto 0 auto;}
.ad_position .limit{height:163px;width:663px;margin:2px 1px 4px 1px;overflow:hidden;}
.ad_left_big{width:527px;border-collapse:collapse;float:left;display:inline;}
.ad_small_box{float:left;width:136px;height:163px;overflow:hidden;display:inline;}
.ad_small_box ul{margin:0px 0px 0px 10px;list-style:none inside none;padding:0px;*margin-left:-6px;}
.ad_small_box ul li{width:122px;height:40px;margin-bottom:4px;overflow:hidden;cursor:pointer;}
.ad_small_box ul li img{width:122px;height:38px;border:#c5c5c5 1px solid;}
.ad_small_box .this_ad{position:absolute;top:0px;left:0px;cursor:pointer;width:136px;height:47px;margin-top:0px;}
.ad_small_box .top_button{width:124px;height:14px;margin-left:9px;overflow:hidden;cursor:pointer;background:url(../images/top_button.gif) no-repeat;}
.ad_small_box .bottom_button{width:124px;height:14px;margin-left:9px;overflow:hidden;cursor:pointer;background:url(../images/bottom_button.gif) no-repeat;}
.ad_small_box .off{background-position:0px -14px;cursor:auto;}
.ad_small_box .small_right_limit{height:129px;padding:3px 0px;overflow:hidden;position:relative;}
